.nav-container {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  transition: all 1.5s;
  z-index: 999;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 3.2rem;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: black;
  font-weight: 600;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-link:hover,
.nav-link:active {
  color: rgb(43, 43, 43);
}

.test-img {
  z-index: 3;
}
